*{
    font-family: 'Noto Sans KR', sans-serif;
    list-style: none;
    text-decoration: none;
    border-collapse: collapse;
    margin:0px;
    padding:0px;
    color:#000; 
 }


 .intro_bg{
     background: rgba(165, 191, 230, 0.8);
     width:100%;
     height:721px;
 }

 .header{
     width: 80%;
     margin: auto;
     background: rgba(165, 191, 230, 0.8);
     height: 10px;
 }

.nav{
    display: flex;
    justify-content: flex-end;
    width:calc(1920px- 200px);
    background: rgba(165, 191, 230,0.8);
    line-height: 86px;

}

.nav>li{
    margin-left: 84px;
}

.nav>li>a{
    color:#000;
}

.intro_text{
    width:100%;
    margin-top: 50px;
    background: rgba(165, 191, 230,0.8);
    text-align: center;
    font-size: 18px;
}
.intro_text>h1,
.intro_text>h4{
    color:#000;
}

.icons{
    display: flex;
    margin: auto;
    width:1280px;
    height: 302px;
    background: rgba(165,191,230,0.8);
}

.icons>li{
    flex: 1;
    height: 400px;
    background: #fff;
    border-radius: 15px;
    margin-top: 130px;
    text-align: center;
    
}
.icons>li>.icon_img {
    margin-top: 15px;
    width: 180px;
    object-fit: cover;

    
    
}

.icons>li:not(:last-child){
    margin-right:20px;
}

.contents1_bold1{
    font-size: 18px;
    font-weight: bold;
    margin-top: 20px;
}

.contents1_bold2{
    font-size: 18px;
    font-weight: bold;
    margin-top: 20px;
}

.contents1_bold3{
    font-size: 18px;
    font-weight: bold;
    margin-top: 3px;
}

.contents1_bold4{
    font-size: 18px;
    font-weight: bold;
    margin-top: 18px;
}

.contents3 {
    font-size: 14px;
    font-weight: 100
}

.icons .contents3 {
    width: 200px;
    margin: auto;
    letter-spacing:-1px;
}

.click1{
    width: 100px;
    height: 30px;
    background: rgb(228, 228, 228);
    color: #000;
    line-height: 30px;
    margin: 25px auto;
    margin-bottom: 10px;
    font-size: 12px;

}

.click2{
    width: 100px;
    height: 30px;
    background: rgb(228, 228, 228);
    color: #000;
    line-height: 30px;
    margin: 25px auto;
    margin-bottom: 7px;
    font-size: 12px;

}

.click3{
    width: 100px;
    height: 30px;
    background: rgb(228, 228, 228);
    color: #000;
    line-height: 30px;
    margin: 25px auto;
    margin-bottom: 7px;
    font-size: 12px;

}

.click4{
    width: 100px;
    height: 30px;
    background: rgb(228, 228, 228);
    color: #000;
    line-height: 30px;
    margin: 25px auto;
    margin-bottom: 7px;
    font-size: 12px;

}


